/* The environement for theorems. Use it the following way :
    <div class="theorem" text='Prime numbers'>
    All odd numbers are prime.
    </div>
*/
.theorem {
display: block;
font-style: italic;
}
.theorem:before {
content: "Theorem. ";
font-weight: bold;
font-style: normal;
}
.theorem[text]:before {
content: "Theorem (" attr(text) ") ";
}

.conjecture {
display: block;
font-style: italic;
}
.conjecture:before {
content: "Conjecture. ";
font-weight: bold;
font-style: normal;
}
.conjecture[text]:before {
content: "Conjecture (" attr(text) ") ";
}
